[Unit]
Description=swag {{ swag_server_domain }}
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
User={{ swag_user }}
Group={{ swag_group }}
WorkingDirectory={{ swag_config_dir }}
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans
ExecReload=/usr/local/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
